{% extends 'all-temps/base.html'%}{% block content %}
<div class="col-xs-1 col-sm-1 col-md-3 col-lg-3 col-xl-3"></div>
<div class="col-xs-10 col-sm-10 col-md-6 col-lg-6 col-xl-6" style="margin-top:1%;">
    <a href="{% url 'postbusiness'%}">Create Business <span class="glyphicon glyphicon-plus-sign" style="font-size:35px;"></span></a>    
    {% for business in businesses %}
    <div class="well">
        <h3>Name:&nbsp;&nbsp;&nbsp;{{business.business_name}}</h3>
        <p>{{business.business_description}}</p>
    </div>
    {% endfor %}
<div class="col-xs-1 col-sm-1 col-md-3 col-lg-3 col-xl-3"></div>
{% endblock %}